In [1]:
from tsm_node_link_parser import hk1980_to_wgs84
from pandas import DataFrame
from io import StringIO
import pandas as pd
file_path = '../../data/tvm/CountData_0.csv'

In [2]:
with open(file_path) as input:
    print(input.readline())
    df = pd.read_csv(StringIO(input.read()), skiprows=1, header=None)  
node_map = {}

Time of day (hour),LinkId,From Node Id,From Node X,From Node Y,To Node Id,To Node X,To Node Y,Volume (vehicle per hour)

In [3]:
df.head()

   0              1       2        3        4       5        6        7    8
0  2  101090_101104  101090  32103.0  16435.0  101104  32135.0  16319.0  0.0
1  3  101090_101104  101090  32103.0  16435.0  101104  32135.0  16319.0  0.0
2  4  101090_101104  101090  32103.0  16435.0  101104  32135.0  16319.0  0.0
3  5  101090_101104  101090  32103.0  16435.0  101104  32135.0  16319.0  0.0
4  6  101090_101104  101090  32103.0  16435.0  101104  32135.0  16319.0  0.0

In [4]:
df.columns = ['forecast_time', 'link_id','s_id','s_x','s_y', 't_id', 't_x', 't_y','volumn']

In [5]:
df.head()

,forecast_time,link_id,s_id,s_x,s_y,t_id,t_x,t_y,volumn
0,2,101090_101104,101090,32103.0,16435.0,101104,32135.0,16319.0,0.0
1,3,101090_101104,101090,32103.0,16435.0,101104,32135.0,16319.0,0.0
2,4,101090_101104,101090,32103.0,16435.0,101104,32135.0,16319.0,0.0
3,5,101090_101104,101090,32103.0,16435.0,101104,32135.0,16319.0,0.0
4,6,101090_101104,101090,32103.0,16435.0,101104,32135.0,16319.0,0.0

In [6]:
node_id_map = {}
for index, r in df.iterrows():

    if r['s_id'] not in node_id_map:
        node_id_map[r['s_id']] = {
            'x': r['s_x'],
            'y': r['s_y']
        }
    else:
        if r['s_x'] != node_id_map[r['s_id']]['x'] or r['s_y'] != node_id_map[r['s_id']]['y']:
            print(r['s_x'],r['s_y'], node_id_map[r['s_id']])
    if r['t_id'] not in node_id_map:
        node_id_map[r['t_id']] = {
            'x': r['t_x'],
            'y': r['t_y']
        }
    else:
        if r['t_x'] != node_id_map[r['t_id']]['x'] or r['t_y'] != node_id_map[r['t_id']]['y']:
            print(r['t_x'],r['t_y'], node_id_map[r['t_id']])

In [7]:
len(node_id_map)

283

In [15]:
source_nodes = df.groupby('s_id').max()[['s_x', 's_y']]
target_nodes = df.groupby('t_id').max()[['t_x', 't_y']]
source_nodes = source_nodes.reset_index()
target_nodes = target_nodes.reset_index()
print()

In [16]:
source_nodes.columns = [['id','x','y']]
target_nodes.columns = [['id','x','y']]

In [17]:
merge_nodes = pd.concat([source_nodes,target_nodes])
output_nodes = []

In [18]:
print(len(source_nodes), len(target_nodes))
print(len(merge_nodes))

144 151
295

In [19]:
len(merge_nodes)
for index, r in merge_nodes.iterrows():
    if r['id'] not in node_id_map:
        print('Not in')
    else:
        if r['x'] != node_id_map[r['id']]['x'] or r['y'] != node_id_map[r['id']]['y']:
            print(r['x'],r['y'], node_id_map[r['id']])

In [20]:
for index, r in merge_nodes.iterrows():
    hk80 = [r['x'], r['y']]
    break

id    101032
x      30139
y      15420
Name: 0, dtype: object